[Desktop Entry]
Name=PyImageFuser
Comment=PyImageFuser is a graphical exposure bracketing app, a stacking app and focus stacking app using OpenCV
Exec=./PyImageFuser
Icon=/usr/share/pyimagefuser/logo
Terminal=false
Type=Application
Categories=Graphics;Utility;
StartupNotify=true
