<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleAllowMixedLocalizations</key>
        <true/>
	<key>CFBundleDisplayName</key>
	<string>PyImageFuser</string>
        <key>CFBundleName</key>
        <string>PyImageFuser</string>
        <key>CFBundleGetInfoString</key>
        <string>PyImageFuser for MacOS</string>
	<key>CFBundleExecutable</key>
	<string>PyImageFuser</string>
	<key>CFBundleIconFile</key>
	<string>PyImageFuser.icns</string>
	<key>CFBundleIdentifier</key>
	<string>PyImageFuser</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
        <key>NSHumanReadableCopyright</key>
        <string>Created by Harry van der Wolf</string>
        <key>CFBundleShortVersionString</key>
        <string>Version_String</string>
        <key>CFBundleVersion</key>
        <string>Version_String</string>
	<key>CFBundleName</key>
	<string>PyImageFuser</string>
	<key>NSHighResolutionCapable</key>
	<true/>
        <key>NSDocumentsFolderUsageDescription</key>
        <string>To be able to read and write images in your Documents folder</string>
        <key>NSDesktopFolderUsageDescription</key>
        <string>To be able to read and write images from your Desktop</string>
        <key>NSDownloadsFolderUsageDescription</key>
        <string>To be able to read and write images in your Downloads folder</string>
        <key>NSNetworkVolumesUsageDescription</key>
        <string>To be able to read and write images on Network Volumes</string>
        <key>NSRemovableVolumesUsageDescription</key>
        <string>To be able to read and write images on removable media like USB-sticks and memory cards</string>
</dict>
</plist>
